<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095155936814-0pqm0ah8k8gvt2tgjmc1m5ptmklmtuhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095155936814-0pqm0ah8k8gvt2tgjmc1m5ptmklmtuhk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095155936814-p941qr8sqb2rajhv02uaosoqc9lheroh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIqbVKtQv0F5uClaizH5AHPJ2uYOkuU1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1095155936814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hugoboss.hugoboss</string>
	<key>PROJECT_ID</key>
	<string>android-app-17b75</string>
	<key>STORAGE_BUCKET</key>
	<string>android-app-17b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095155936814:ios:4d079d063c527222</string>
	<key>DATABASE_URL</key>
	<string>https://android-app-17b75.firebaseio.com</string>
</dict>
</plist>
